.md-content iframe {
    position: relative;
    z-index: 2 !important;
    width:100vw; 
    
    height: clamp(300px, 100vh, 120vh);
}

.iframe-wrapper{
    width: 65vw;
}

.md-content .mermaid {
  width:65vw; 
  z-index: 2 !important;
}

.md-typeset__scrollwrap {
    overflow-x: auto;
    position: relative;
    width:65vw; 
}

.md-typeset__table table {
    border-collapse: separate;
    border-spacing: 0;
}

.md-typeset__table table td:first-child {
    position: sticky;
    left: 0;
    background: rgb(247, 240, 240);
    z-index: 2;
}